In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.DataFrame()
df = pd.read_csv('data/new/Cleaned.csv')
df.head()

,Year,Month,Day,Hour,PM2.5,PM10,SO2,NO2,CO,O3,Temp,Press,DewP,Rain,WinDir,WinSpeed,Station,dateInt,Date,date
0,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin,20130301,2013-03-01 00:00:00,2013-03-01
1,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin,20130301,2013-03-01 01:00:00,2013-03-01
2,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin,20130301,2013-03-01 02:00:00,2013-03-01
3,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin,20130301,2013-03-01 03:00:00,2013-03-01
4,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin,20130301,2013-03-01 04:00:00,2013-03-01

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418946 entries, 0 to 418945
Data columns (total 20 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Year      418946 non-null  int64
 1   Month     418946 non-null  int64
 2   Day       418946 non-null  int64
 3   Hour      418946 non-null  int64
 4   PM2.5     418946 non-null  float64
 5   PM10      418946 non-null  float64
 6   SO2       418946 non-null  float64
 7   NO2       418946 non-null  float64
 8   CO        418946 non-null  float64
 9   O3        418946 non-null  float64
 10  Temp      418946 non-null  float64
 11  Press     418946 non-null  float64
 12  DewP      418946 non-null  float64
 13  Rain      418946 non-null  float64
 14  WinDir    418946 non-null  object
 15  WinSpeed  418946 non-null  float64
 16  Station   418946 non-null  object
 17  dateInt   418946 non-null  int64
 18  Date      418946 non-null  object
 19  date      418946 non-null  object
dtypes: float64(11), int64(5), object(4)
memory usage: 63.9+ MB

In [4]:
df.drop(['Year','Month','Day','Hour','PM10','dateInt','Date','date'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418946 entries, 0 to 418945
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   PM2.5     418946 non-null  float64
 1   SO2       418946 non-null  float64
 2   NO2       418946 non-null  float64
 3   CO        418946 non-null  float64
 4   O3        418946 non-null  float64
 5   Temp      418946 non-null  float64
 6   Press     418946 non-null  float64
 7   DewP      418946 non-null  float64
 8   Rain      418946 non-null  float64
 9   WinDir    418946 non-null  object
 10  WinSpeed  418946 non-null  float64
 11  Station   418946 non-null  object
dtypes: float64(10), object(2)
memory usage: 38.4+ MB

#### Label Encoding

In [5]:
def labelEncoder(labelColumn):
    labelValues = labelColumn
    unique_labels = labelColumn.unique()
    le = LabelEncoder()
    labelColumn = le.fit_transform(labelColumn)
    print('Encoding Approach:')
    for i, j in zip(unique_labels, labelColumn[np.sort(np.unique(labelColumn, return_index=True)[1])]): 
        print(f'{i}  ->  {j}')
    return labelColumn

In [6]:
categorical_variables = ["WinDir", "Station"]

for i in categorical_variables:
    print(f"For {i} column ")
    df[f"{i}"] = labelEncoder(df[f"{i}"])
    print("******************")

For WinDir column
Encoding Approach:
NNW  ->  6
N  ->  3
NW  ->  7
NNE  ->  5
ENE  ->  1
E  ->  0
NE  ->  4
W  ->  13
SSW  ->  11
WSW  ->  15
SE  ->  9
WNW  ->  14
SSE  ->  10
ESE  ->  2
S  ->  8
SW  ->  12
******************
For Station column
Encoding Approach:
Aotizhongxin  ->  0
Changping  ->  1
Dingling  ->  2
Dongsi  ->  3
Guanyuan  ->  4
Gucheng  ->  5
Huairou  ->  6
Nongzhanguan  ->  7
Shunyi  ->  8
Tiantan  ->  9
Wanliu  ->  10
Wanshouxigong  ->  11
******************

In [7]:
df.head()

,PM2.5,SO2,NO2,CO,O3,Temp,Press,DewP,Rain,WinDir,WinSpeed,Station
0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,6,4.4,0
1,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,3,4.7,0
2,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,6,5.6,0
3,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,7,3.1,0
4,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,3,2.0,0